* {
    margin: 0;
}

header, main, footer {
    width: 100vw;
}

header {
    height: 5vh;
    background: #D9D9D9;
}

main {
    display: flex;
}

section {
    width: 60vw;
    height: 74vh;
    background: #A4A4A4;
}

.aside_top {
    width: 40vw;
    height: 40vh;
    background: #7F7A7A;
}

.aside_bottom {
    width: 40vw;
    height: 34vh;
    background: #615050;
}

.footer_top {
    height: 10vh;
    background: #D9D9D9;
}

.footer_bottom {
    height: 11vh;
    background: #AFA9A9;
}