@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
}
.grid {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #FFFFFF;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-areas:
    'header header'
    'content-1 spam-1'
    'content-2 spam-1'
    'content-2 spam-2'
    'content-3 spam-2'
    'footer footer';
}

header {
    grid-area: header;
    background-color: #8D8484;
    color: #000000;
}
.content-1 {
    grid-area: content-1;
    background-color: #776969;
}
.content-2 {
    grid-area: content-2;
    background-color: #643030;
}
.content-3 {
    grid-area: content-3;
    background-color: #441818;
}
.spam-1 {
    grid-area: spam-1;
    background-color: #937575;
}
.spam-2 {
    grid-area: spam-2;
    background-color: #644C4C;
}
footer {
    grid-area: footer;
    background-color: #BDBDBD;
    color: #000000;
}
header,
.content-1,
.content-2,
.content-3,
.spam-1,
.spam-2,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}