body {
    background-color: #ffe2be;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.square {
    background-color: red;
    width: 100px;
    height: 100px;
    transition: 0.5s;
}

.square:hover {
    background-color: grey;
    border-radius: 50%;
    transition: 0.5s;
}